/* src/Navbar.css */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 0.6rem; /* Ajuste o padding conforme necessário */
  height: 60px; /* Ajuste a altura conforme necessário */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Garante que o navbar fique acima de outros elementos */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Limita a largura do conteúdo do navbar */
  margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
}

.navbar-logo {
  color: #ffffff;
  font-size: 2.0rem;
  font-weight: 500;
  background-color: #646464;
  padding: 0.5rem;
  border-radius: 4dvh;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem; /* Ajuste o espaçamento entre os itens conforme necessário */
}

.navbar-links li {
  margin-right: 0px; /* Pode ser removido se 'gap' for suficiente */
}

.navbar-links a {
  color: #474747;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
}

.navbar-links a:hover {
  color: #000000;
}

/* Media query para telas menores que 768px */
@media (max-width: 768px) {
  .navbar {
    padding: 0.5rem; /* Ajuste o padding conforme necessário */
    height: auto; /* Altura automática para acomodar o conteúdo */
  }

  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .navbar-links {
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }
}
